body {
	background-image: url(../img/mixtures-photo-911738.jpeg);
	background-attachment: scroll;
	background-position: : center top;
	font-family: Arial, Verdana, sans-serif; /* Семейство шрифтов */
  	font-size: 11pt; /* Размер основного шрифта в пунктах  */
  	background-color: #f0f0f0; /* Цвет фона веб-страницы */
  	color: #333; /* Цвет основного текста */
}

a {
	color: white;
	background-color: orange;
	font-size: 20pt;
	font-family: Times, Verdana, sans-serif;
}

h1 {
	color: #333; /* Цвет заголовка */
	background-color: #c285e8cc; /* Цвет фона */
	font-size: 30pt; /* Размер шрифта в пунктах */
  	font-family: 'Lobster', serif; /* Семейство шрифтов cursive */
  	font-weight: normal; /* Нормальное начертание текста */
}

h2 {
	color: #333;
	background-color: #2afd037a;
	font-family: Georgia, Times, serif;
	font-size: 20pt;
}

h3 {
	color: #333;
	background-color: #ff9800de;
	font-family: Georgia, Times, serif;
	font-size: 16pt;
}

input {
	font-size: 13pt;
	font-family: Georgia, Times, serif;
}

/*
p { 
	text-align: justify; /* Выравнивание по ширине * /
	margin-left: 40px; /* Отступ слева в пикселях * /
	margin-right: 10px; /* Отступ справа в пикселях */
	/*border-left: 1px solid #999; /* Параметры линии слева */
	/*border-bottom: 1px solid #999; /* Параметры линии снизу */
	/*padding-left: 10px; /* Расстояние от линии слева до текста */
	/*padding-bottom: 10px; /* Расстояние от линии снизу до текста * /
} */

.Main_p {
	text-align: justify;
	font-family: Georgia, Times, serif;
	font-size: 15pt;
	background-color: #2afd037a;
}

.Select_p {
	font-family: Arial, Verdana, sans-serif;
	color: #ff0000;
	font-size: 20pt;
	text-align: justify;
	margin-left: 10%;
	margin-right: 65%;
	border-left: 1px solid #999; /* Параметры линии слева */
	border-right: 1px solid #999; /* Параметры линии справа */
	border-bottom: 1px solid #999; /* Параметры линии снизу */
	padding-left: 10px; /* Расстояние от линии слева до текста */
	padding-bottom: 10px; /* Расстояние от линии снизу до текста */
}

.Select_second_p {
	font-family: Arial, Verdana, sans-serif;
	color: #ff0000;
	font-size: 20pt;
	text-align: justify;
	margin-left: 10%;
	margin-right: 54%;
	border-left: 1px solid #999; /* Параметры линии слева */
	border-right: 1px solid #999;
	border-bottom: 1px solid #999; /* Параметры линии снизу */
	padding-left: 10px; /* Расстояние от линии слева до текста */
	padding-bottom: 10px; /* Расстояние от линии снизу до текста */
}

.ID_p {
	font-family: Arial, Verdana, sans-serif;
	font-size: 15pt;
	background-color: #333;
	color: white;
	text-align: justify;
	margin-left: 10%;
	margin-right: 64%;
	border-left: 1px solid #999; /* Параметры линии слева */
	border-right: 1px solid #999;
	border-bottom: 1px solid #999; /* Параметры линии снизу */
	padding-left: 10px; /* Расстояние от линии слева до текста */
	padding-bottom: 10px; /* Расстояние от линии снизу до текста */
}
